body {
  position: relative;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4 {
  font-family: "Archivo", Helvetica, Arial, sans-serif;
  color: #3A3228;
}

.post-page-main-section h1 {
  margin: 0;
}

h2 {
  font-size: 1.3rem !important;
}

h3 {
  font-size: 1.22rem !important;
}

.logo {
  height: 40px;
}

.text-link {
  color: #1D4F25 !important;
  font-family: "Archivo", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  font-style: italic;
}

.text-link:hover {
  text-decoration: underline;
}

.burgundy-border-2 {
  border: 2px solid #540D2A !important;
}

.brown-border-1 {
  border: 1px solid #3A3228 !important;
}

.navbar {
  padding: 0 !important;
  min-height: auto !important;
}

.nav__icon-button {
  display: block;
  position: static;
  text-align: center;
}

.nav__icon-button a {
  display: inline-block !important;
  padding: 0.7rem;
}

.navbar__buttons a:hover {
  background-color: transparent;
}

.navbar-with-buttons {
  bottom: 0;
  background: #FFFBF3;
  border-top: 2px solid #3A3228;
}

.navbar-with-buttons i {
  font-size: 1.7rem;
  color: #540D2A;
}

.navbar-with-buttons i:hover {
  color: #992350;
}

.navbar-with-buttons .menu {
  padding: 0;
}

.cta {
  background-color: #540D2A !important;
  color: #FFF !important;
  font-size: 1.25rem !important;
}

.cta:hover {
  background-color: #992350 !important;
  font-style: italic;
}

.search-field button {
  background-color: #540D2A !important;
  color: #FFF !important;
  font-size: 1.1rem;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  height: 50px;
}

.search-field input {
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  height: 48px;
  margin-top: 1px;
}

.react-button {
  border: 2px solid #540D2A;
  color: #540D2A !important;
}

.react-button:hover {
  background: #FFF78D;
}

.user-reacted {
  background: #FFF78D;
}

.error {
  color: #b91c1c !important;
}

.success {
  color: #267F35 !important;
}

.extra-header-mobile {
  border-bottom: 2px solid #540D2A;
  background: #FFFBF3;
}

.register-login-logout .btn {
  background-color: #1D4F25;
  color: #fff;
  font-size: 1rem;
  padding: 0.9rem;
}

.register-login-logout .btn:hover {
  background-color: #267F35;
  font-style: italic;
}

.register-login-logout li {
  list-style: none;
}

.profile-picture {
  border: 3px solid #540D2A;
}

.profiles__search-section ul {
  background: #FFF78D !important;
}

@media (min-width: 768px) {
  .navbar-with-buttons {
    bottom: auto;
    top: 0;
    border-top: none;
    border-bottom: 2px solid #540D2A;
  }
}
